/* .layout {
  display: flex;
  align-items: center;
} */

* {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}



.selectPais{
  
display: flex;
align-items: center;
justify-content: flex-end;
width: 18rem;
font-weight: bold;
font-size: 1.1rem;
margin: 0;
}



.headerSearch{
  display: block;
  align-items: center;
  justify-content: space-between;
  margin-top: 3rem;
  width: 50%;
}

.layoutLeft {
  display: flex;
  justify-content: space-between;
	border-radius:8px;
	color:#ffffff;
	font-family:Arial;
  position: relative;
  top:2px;
}



.infoPaises {
  margin-right: 2rem;
  margin-left: 0.5rem;
  border-radius: 0.5rem;

}

.infoPaises div {
  padding-right: 2rem;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 15rem;
  font-weight: bold;
  width: 25rem;
  border-radius: 0.5rem;
  height: 3rem;
  margin: 1.2rem;

  
}

.infoPaises .nomePaís:hover{
  box-shadow: 2px 2px 0px 0px rgba(0, 64, 191, 0.5);
  transition: box-shadow 0.15s ease-in-out;
}

.infoPaises .areaTerritorial:hover{
  box-shadow: 2px 2px 0px 0px rgba(0, 64, 191, 0.5);

  transition: box-shadow 0.15s ease-in-out;

}
.infoPaises .capital:hover{
  box-shadow: 2px 2px 0px 0px rgba(0, 64, 191, 0.5);
  transition: box-shadow 0.15s ease-in-out;

}
.infoPaises .linguaPrincipal:hover{
  box-shadow: 2px 2px 0px 0px rgba(0, 64, 191, 0.5);
  transition: box-shadow 0.15s ease-in-out;

}
.infoPaises .Localizacao:hover{
  box-shadow: 2px 2px 0px 0px rgba(0, 64, 191, 0.5);
  transition: box-shadow 0.15s ease-in-out;

}
.infoPaises .unidadeMonetária:hover{
  box-shadow: 2px 2px 0px 0px rgba(0, 64, 191, 0.5);
  transition: box-shadow 0.15s ease-in-out;

}

.infoPaises div:hover path{
color: rgba(0, 64, 191, 0.5)}

#text {
  display: none;
}

.headerUm {
  box-sizing: content-box;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.3));
  margin-top: 4.5rem;
}

.headerUm img{
  max-height: 150px;
max-width: 200px;
width: 160px;
height: 120px;
}


.headerDois {
  
  box-sizing: content-box;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 0.8rem;
  margin-right: 4rem;
}

#language {
  margin: 1rem;
  width: 24.25rem;
}


.headerPrincipal {
  height: 4.6rem;
  background-color: rgb(249, 249, 249);
  box-sizing: content-box;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  color: white;
  font-weight: bold;
  margin-left:-5rem;
  margin-right: -4.5rem;
  box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5)
}

.logoIbge{
  height: 4rem;
  margin-left: 4rem;
}

.spacer {
  position: absolute;
  z-index: -5;
  aspect-ratio: 960/300;
  width: 106.8%;
  background-repeat: no-repeat;
  background-position: center;
   background-size: cover;
   left: -5rem;
}

.layer {
  background-image: url('./layer2.svg');
}

.display {
  display: flex;
  align-items: center;
}

